<h1 class="mb-4 text-center text-3xl m-20 mb-20">Underneath</h1>

<div class="flex justify-center">
	<div class="max-w-xl object-center">
		<% if !@games.empty? %>
			<% @games.each do |g| %>
				<div>
					Game <%= g.id %>: 
					<%= link_to "Play", g %>
				</div>
			<% end %>
		<% end %>
		<div>
			<div class="float-left">
				Create new game:
			</div>
			<div class="float-left">
				<%= link_to image_tag("/img/human.png"),
						'/games?side=human',
						method: :post %>
			</div>
			<div class="float-left">
			<%= link_to image_tag("/img/worm.png"),
					'/games?side=worm',
					method: :post %>
			</div>
		</div>
	</div>
</div>
