<div class="flex flex-col items-center justify-center m-4">

	<div class="info-line flex flow-root max-w-md w-96 mb-4">
		<div class="float-left">
			Game <%= @game.id %>
		</div>
		<div class="float-right">
			<%= link_to "Exit", games_path %>
		</div>
	</div>

	<div class="max-w-md w-96 h-96">
	<%= react_component("Field", { game: @game }.merge(@state)) %>
	</div>
</div>


<script>

</script>