/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color:  #14110c;
    color:  #cdbfa4;
    font-family: 'Syne Mono', monospace;
}

h1 {
    font-variant: small-caps;
    letter-spacing: 0.55em;
}

a {
    color: #cf4221;
}

.board_square {
    font-size: 125%;
    padding-top: 8px;
}
.board_square.human_0 {
    background-color: #291d10;
}

.board_square.human_1 {
    background-color: #1F1100;
}

.human, .worm {
    transition-property: left, top;
    transition-duration: 0.35s;
}

.valid_move_square {
    background-color: rgba(78,177,254,0.4);
}


.turn-strip {
    color:  #72605e;
}

.turn-strip-l-mask {
    background-image: linear-gradient(to right, rgba(20,17,12,1), rgba(0,0,0,0));
}

.turn-strip-r-mask {
    background-image: linear-gradient(to left, rgba(20,17,12,1), rgba(0,0,0,0));
}

.turn-strip-cursor {
    border: 1.5px solid #72605e;
    border-radius: 50%;
}